/node_modules
/backend/node_modules/.bin
/backend/node_modules
/backend/main/node_modules
.env

# Sentry Config File
.env.sentry-build-plugin
/backend/main/recordings
backend/main/.env
backend/main/.env
bfg.jar

# Frontend build artifacts
frontend/main/dist/
frontend/main/.vite/

/generated/prisma
