/node_modules
/backend/node_modules/.bin
/backend/node_modules
/backend/main/node_modules
.env
/.vs

# Sentry Config File
.env.sentry-build-plugin
/backend/main/recordings
backend/main/.env
backend/main/.env
